.main-categorys{
	width: 100%;
	&__wrapper{
		display: grid;
		align-items: center;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		gap: 15px;
	}

	.category{
		position: relative;
		max-width: 330px;
		overflow: hidden;
		height: 400px;
		.category-link img{
			transition: all 0.6s ease;
		}

		span{
			position: absolute;
			display: block;
			width: 230px;
			left: 50%;
			border-radius: 50px;
			height: 60px;
			background-color: rgba(240, 248, 255, 0.71);
			top: 70%;
			transform: translateX(-115px);
			font-size: 22px;
			text-align: center;
			line-height: 55px;
			color: black;
		}

		.category-link:hover{
			img{
				transform: scale(1.2, 1.2);
			}
		}

		span:hover{
			background-color: rgba(226, 226, 226, 0.71);
		}
	}
}

@media all and (max-width: 575px) {
	.main-categorys{
		&__wrapper{
			gap: 0;
			row-gap: 10px;
			grid-template-columns: 1fr;
		}
		.category{
			margin: 0 auto;
		}
	}
}

@media all and (max-width: 353px) {
	.main-categorys{
		.category{
			max-width: 280px;
		}
	}
}

